*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
}
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(48, 60, 68);
    color: white;
}

header nav {
    margin: 18.72px;
    display: flex;
    padding: 5px 250px 5px 10px;
}

header h3 {
    display: flex;
    padding: 10px;
    padding-left: 230px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav a {
    display: flex;
    padding: 5px;
}

#subscribeSection {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:  rgb(48, 60, 68);
    color: white;
    font-weight: bold;
}

#subscribeSection p{
    padding: 10px 30px 10px 80px;
}

#subscribeSection form {
    padding: 10px 10px 10px 10px;
}
#subscribeSection form button {
    background-color: rgb(196, 127, 0);
    color: white;
    font-weight: bold;
}

#Naranja {
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 127, 0);
    color: white;
    padding: 50px 300px 50px 300px;
}

#Titulo_Naranja {
    display: flex;
    justify-content: center;
}

#Contenido_Naranja {
    display: flex;
}

#subscribeSection form {
    margin: 16px;
}

#imageSection {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

#imageSection div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(48, 60, 68);;
    color: white;
    padding-top: 20px;
}